<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Mage_SwapMachine>
            <version>0.1.0</version>
        </Mage_SwapMachine>
    </modules>
    <frontend>
        <routers>
            <cms>
                <args>
                    <modules>
                        <Mage_SwapMachine before="Mage_Cms">Mage_SwapMachine_Frontend</Mage_SwapMachine>
                    </modules>
                </args>
            </cms>
        </routers>
        <layout>
            <updates>
                <swapmachine>
                    <file>mage/swapmachine.xml</file>
                </swapmachine>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <swapmachine>
                <class>SwapMachine_Model</class>
            </swapmachine>
        </models>
        <blocks>
            <swapmachine>
                <class>Mage_SwapMachine_Block</class>
            </swapmachine> 
            <sales>
                <rewrite>
                    <order_history>Mage_SwapMachine_Block_Sales_Order_History</order_history>
                </rewrite>
           </sales>
            <items>
                <rewrite>
                    <order_items>Mage_SwapMachine_Block_Sales_Order_Items</order_items>
                </rewrite>
           </items>                            
        </blocks>
        <events>
            <controller_action_predispatch_catalog_category_view>
                <observers>
                    <mage_swapmachine_model_observer>
                        <type>singleton</type>
                        <class>Mage_SwapMachine_Model_Observer</class>
                        <method>view</method>
                    </mage_swapmachine_model_observer>
                </observers>
            </controller_action_predispatch_catalog_category_view>
            <checkout_onepage_controller_success_action>
                <observers>
                    <mage_swapmachine_model_observer>
                        <type>singleton</type>
                        <class>Mage_SwapMachine_Model_Observer</class>
                        <method>successAction</method>
                    </mage_swapmachine_model_observer>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
        <helpers>
            <swapmachine>
                <class>Mage_SwapMachine_Helper</class>
            </swapmachine>
        </helpers>
    </global>
</config> 
